body {
    background-image: url("symphony.png");
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#main {
	background: white;
	padding: 10px 10px 10px 10px;
	margin: 40px 40px 40px 40px;
	min-height: 86%;	
}
h1 {
    color: #4D1682;
    font-size: 31pt;
    font-family: '', serif;
    text-align: center;
    
    padding: 0px 0px 0px 0px;
    margin: 15px auto 30px auto;
    border-bottom: 2px solid #4D1682;
}
h2 {
    font-size: 12pt;
    font-family: "Helvetica";
    font-weight: normal;
    text-align: center;
}

p {
	text-align: center;
}

#main-image {
	 width: 400px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a img {
    width: 30px;
    height: 30px;
}
ul li {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}
nav {
    color: #3D1692;
    font-size: 15pt;
    font-family: "Helvetica";
    text-align: center;
    margin-top: 50px
}

a {
    color: black;
}

h2 {
    
    color: black;
    margin-left: 200px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 200px;

    padding: 20px 30px 20px 30px;
}
